<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="/signup" method="post">
        name: <input type="text" name="username"/>
        <hr/>
        password: <input type="password" name="password">
        <hr/>
        favorites:
        <input type="checkbox" value="power" name="hobby"> power
        <input type="checkbox" value="money" name="hobby"> money
        <input type="checkbox" value="book" name="hobby"> book
        <input type="submit" value="signup">
    </form>
</body>
</html>