<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="{{static_url('css/home.css')}}">
    <script type="text/javascript" charset="utf-8" src="{{static_url('js/jquery.js')}}"></script>
    
</head>
<body>
     <h1>this is home page</h1>
     <h1>num: {{num}}</h1>
     <h1>num + 10 = {{num + 10}}</h1>
     <h1>num: {{num}}</h1>
     <h1>name: {{per["name"]}}</h1>
     
     {% if flag == 0 %}
         <h1>flag is 0</h1>
     {% else %}
         <h1>flag is not 0</h1>
     {% end %}
     
     <ul>
         {% for stu in stus %}
             <li>{{stu["name"]}}</li>
         {% end %}
     </ul>
</body>
</html>


